@font-face {
  font-family: 'foreignerregular';
  src: url('Ressources/fonts/foreigner-webfont.woff2') format('woff2'), url('Ressources/fonts/foreigner-webfont.woff') format('woff'), url('Ressources/fonts/foreigner-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.map-container {
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-items {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: white;
  padding: 10px;
}

#map {
  overflow: visible !important;
  position: absolute;
}

.speed {
  font-family: 'foreignerregular';
  color: white;
  text-shadow: black 0px 0px 5px;
  font-size: 72px;
  white-space: nowrap;
  margin: 7px;
}

.circle {
  border-radius: 50%;
  background: lightgray;
  border: dodgerblue solid 3px;
  height: 30px;
  width: 30px;
  box-shadow: black 0px 3px 5px;
}

@media (max-width:700px) {
  .grid {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 50vh 40vh 10vh;
    grid-template-areas: 'map' 'speed' 'controls';
    width: 100vw;
    height: 100vh;
  }
}

@media (min-width:1000px) {
  .grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 65vw 35vw;
    grid-template-areas: 'map speed' 'map speed' 'map controls';
    width: 100vw;
    height: 100vh;
  }
}

.map {
  grid-area: map;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0 0 100px black;
}

.speedo {
  grid-area: speed;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  grid-area: controls;
  color: white;  
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.vignette {
  position: absolute;
  -moz-box-shadow: inset 0 0 50 #212121;  
  -webkit-box-shadow: inset 0 0 50 #212121;   
  box-shadow: inset 0 0 100px #212121;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6000000;
}