@font-face {
  font-family: 'foreignerregular';
  src: url('Ressources/fonts/foreigner-webfont.woff2') format('woff2'),
       url('Ressources/fonts/foreigner-webfont.woff') format('woff'),
       url('Ressources/fonts/foreigner-webfont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu header" "content content" "footer  footer";
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.map-container {
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.map-items {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: white;
  padding: 10px;
}

#map {
  overflow: visible !important;
  position: absolute;
}

.speed {
  font-family: 'foreignerregular';
  color: dodgerblue;
  text-shadow: black 0px 3px;
  font-size: 25px;
  white-space: nowrap;
  margin: 7px;
}

.circle {
  border-radius: 50%;
  background: lightgray;
  border: dodgerblue solid 3px;
  height: 30px; 
  width: 30px;
  box-shadow: black 0px 3px 5px;
}