.App {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto 1fr;
  grid-template-areas: "menu header" "content content" "footer  footer";
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.map-container
{
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

#map {
  overflow: visible !important;
}